.About{
    display: flex;
    flex-direction: column;
    margin: 0;
    height:400vh;
    width: 100%;
    overflow: hidden;
}

.About-nav {
    animation: nav-load 300ms ease-in;
    z-index: 20;
}

.Progress{
    position:fixed;
    z-index: 1;
    top: 37%;
    left: 0;
    margin: 0;
    padding: 0;

}

.Progress > img{
    width: 10vw;
    padding-left:1vw;
}

/*About Container 1*/

.About-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    width: 100%;
    height: 100vh;
    background-color: linen;
}

.About-Summary {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* Margin = 11 makes box
    perfectly aligned with navbar*/
    width: 100%;
    height: 80%;
    background-color: white;
    overflow: hidden;

}

.Progress-drops{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 10%;
    padding: 1vw;
}

.Progress-drops > img{
    opacity: 0;
}



.About-Summary-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 30%;
    height: 100%;
    margin-left: 1vw;
}

.About-Summary-Content > h2{
    font-size: 3.8vw;
}

.About-Summary-Content > h1{
    font-size: 6vw;
    font-style: italic;
    margin-right: 3vw;
}

.tea-bag-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 60%
}

img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#img1{
    transform:rotate(29deg) translate(-4vw, 3vw);
    
}

/*About Container 2*/
.About-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: linen;
}


/*About Container 3*/
.About-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: linen;
}

/*About Container 3*/
.About-container-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: linen;
}

.Footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.coffeeload {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffeeload > img{
    max-height: 5vw;
    padding: 1vw;
}

.Footer > a {
    z-index: 12;
    align-self: flex-end;
}

.Footer > a > svg:hover{
    z-index: 12;
    background-color: rgba(250, 131, 131, 0.616);
    box-shadow:0 0 50px 5px rgb(255, 143, 143);
    color: white;
}

.coffeeload > div {
    display: block;
    z-index: 10;
    position: absolute;
    font-size:larger;
    font-weight: bold;
    color:maroon;
}

.github{
    opacity:1;
    filter: blur(0px);
    animation: fade-in 8s 0s backwards cubic-bezier(0.11, 0, 0.5, 0) infinite;

    transform:translateX(1.75vw)
}


.linkedin {
    opacity:0;
    filter: blur(6px);
    animation: fade-in-linked 8s 0s backwards cubic-bezier(0.11, 0, 0.5, 0) infinite;

    transform:translateX(-1.75vw)
}

@keyframes fade-in {
    15% {
        opacity: 0;
        filter: blur(6px);
    }

    82% {
        opacity: 0;
        filter: blur(6px);
    }

    94% {
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        opacity:1;
        filter: blur(0px);
    }
}

@keyframes fade-in-linked {
    27% {
        opacity: 0;
        filter: blur(6px);
    }

    44% {
        opacity: 1;
        filter: blur(0px);
    }

    50% {
        opacity: 1;
        filter: blur(0px);
    }

    67% {
        opacity:0;
        filter: blur(6px);
    }

    100% {
        opacity:0;
        filter: blur(6px);
    }

}
  

@media screen and (max-width: 650px){

    /*About Container 1*/

    .About-container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    .Progress-drops{
        display:none;
    }

    .Progress{
        display:none;
    }

    .About-Summary{
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: linen;
        justify-content: center;
        align-items: center;
    }

    .About-Summary-Content {
        padding-top: 8vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: linen;
    }

    .tea-bag-gif {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: linen;
        width: 100%;
        padding-top: 5vh;
    }

    .About-Summary-Content > h2{
        font-size: 5vw;
    }
    
    .About-Summary-Content > h1{
        font-size: 7vw;
    }


    /*About Container 2*/
}


@keyframes nav-load {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}