@media screen and (max-width: 850px){

.ProjectItem{
    height:100vh;
    width:100%;
    align-items: center;
    display: flex;
    justify-items: center;
    flex-direction: column;
    z-index: -1;
}


.ProjectItem-container{
    height: 90%;
    width: 80%;
    align-items: center;
    background-color: pink;
    padding: 2vw;
    margin-top: 5vw;
}

.coffee > img{
    width: 13vw;
    position: absolute;
    top: 1vw;
    left: 43%;
    background-color: blue;
    padding: 1vw;
    border-radius: 50%;
}

.project-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 10vw 0;
}

.project-card-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: lightgoldenrodyellow;
    border: 1vh solid rgb(96, 67, 67);
    border-radius: 2vw;
}

#projpic1{
    border-radius: 2vw;
}

#HTcoffee{
    max-height: 20vw;
}

}

/*Bigger Screen > 850*/

.ProjectItem{
    height:100%;
    width:100%;
    align-items: center;
    display: flex;
    justify-items: center;
    flex-direction: column;
    z-index: -1;
}

.ProjectItem-container{
    height: 100%;
    width: 90%;
    align-items: center;
    height: 100%;
    background-color: pink;
    padding: 2vw;
    margin-top: 5vw;
}

.coffee > img{
    width: 13vw;
    position: absolute;
    top: 1vw;
    left: 43%;
    background-color: blue;
    padding: 1vw;
    border-radius: 50%;
}

.project-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 10vw 0;

}

.project-card-content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.project-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: lightgoldenrodyellow;
    border: 1vh solid rgb(96, 67, 67);
    border-radius: 2vw;
}

.project-card-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border: 1vh solid rgb(96, 67, 67);
    border-radius: 2vw;
    
}

.project-card-text > div{
    align-items: center;
    text-align: center;
}

#projpic1{
    border-radius: 2vw;
}

#HTcoffee{
    max-height: 20vw;
}

.project-link > a > img{
    height: 10vw;
}




