.ProjectItem{
    height:100%;
    width:100%;
    align-items: center;
    display: flex;
    justify-items: center;
    flex-direction: column;
}


.ProjectItem-container{
    height: 75%;
    width: 50%;
    align-items: center;
    height: 100%;
    background-color: pink;
    padding: 10px 20px;
}

.coffee{
    width: 20%;
    position:absolute;
    top: -2%;
    left: 45%;
}

.project-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 5rem;
}

.project picture{
    border-width: 5px;
    border-color: black;
}